
asgiref==3.6.0
backports.zoneinfo==0.2.1;python_version<"3.9"
chartjs==1.2
coverage==7.1.0
Django==4.1.5
django-cors-headers==3.13.0
django-widget-tweaks==1.4.12
nulltype==2.3.1
plaid-python==9.1.0
python-dateutil==2.8.2
python-dotenv==0.15.0
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.14

# yfinance and packages required for it
# \/ \/ \/ \/
appdirs==1.4.4 
beautifulsoup4==4.11.2 
certifi==2022.12.7 
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.1
frozendict==2.3.5 
html5lib==1.1 
idna==3.4
lxml==4.9.2 
multitasking==0.0.11
numpy==1.24.2
pandas==1.5.3
pycparser==2.21
pytz==2022.7.1
requests==2.28.2
soupsieve==2.4 
webencodings==0.5.1 
yfinance==0.2.12
# /\ /\ /\ /\

