@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
    color: white;
    background-image:url(background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    color: white;
    display: flex;
    margin-top: 29px;
    margin-left: 189px;
    margin-right: 189px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;

}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}


.site-title {
    font-size: 2rem;
    font-weight: bold;
}

.nav li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
.nav li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: white;
}

.home__box {
    border-radius: 25px;
    border: 2px solid #9f5ae0;
    outline: none;
    
    filter: drop-shadow(5px 5px 4px #4444);
    outline: transparent;
    box-shadow: 0px;
    padding: 10px;
    margin:auto;
    margin-top: 50px;
    width: 1000px;
    height: 300px;
    text-align: center;
    overflow: hidden;
  }

  .box__image {
    float: right;
    border-radius: 8px;
    max-width: 40%;
 
    height:auto;
    margin: 10px 10px 10px 10px;
    margin-bottom: -10px;
  }

  .home__text {
    font-family: 'Outfit', sans-serif;
    font-size: 2.3em;
  }