@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
    color: white;
    background-image:url(background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    color: white;
    /* display: flex; */
    /* margin-top: 29px;
    margin-left: 189px;
    margin-right: 189px; */
    /* margin : 1% 10%; */
    /* justify-content: space-between;
    align-items: center; */
    gap: 2rem;
    padding: 0 1rem;
    border-style: solid;
    border-color: black;
    border-bottom-width: 4px;

}
.navbarContents {
    margin: 1% 10%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}


.site-title {
    font-size: 2rem;
    font-weight: bold;
}

.nav li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
.nav li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: white;
}

/* .logout {
  width: 100%;
  background: white;
} */

.home__box {
    border-radius: 25px;
    border: 2px solid #9f5ae0;
    outline: none;
    
    filter: drop-shadow(5px 5px 4px #4444);
    outline: transparent;
    box-shadow: 0px;
    padding: 10px;
    margin-left: -60%;
    margin-top: 25px;
    width: 1000px;
    height: 300px;
    text-align: center;
    overflow: hidden;
  }

  .box__image {
    float: right;
    border-radius: 8px;
    max-width: 40%;
 
    height:auto;
    margin: 10px 10px 10px 10px;
    margin-bottom: -10px;
  }

  .home__text {
    font-family: 'Outfit', sans-serif;
    font-size: 2.3em;
  }
  /*Container for the dashboard page*/
  .dashboard-container {
    width: 100%;
    
  }

  /*Container for the section of the contents of the page*/
  .piechart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    float: left;
    height: 80vh;
    
    }
    
    /* Adjust the width of piechart-section to leave space for piechart-graphs and piegraph-content */
    .piechart-section {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%);
    height: 60%;
    
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    }
    
    /*Styling the tabs that allow you to switch categories*/
    .piechart-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    
    }
    
    /*Styling individual tab*/
    .piechart-tab {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    }
    
    /*When the tab is selected*/
    .piechart-tab.active {
    background-color: darkblue;
    color: white;
    }
    

    .piechart-container {
      display: flex;
      height: 140%;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      
    }
    
    /*Graph selection*/
    .piechart-graphs {
      display: flex;
      flex-direction: column;
      width: 100px;
      padding: 10px;
      margin-left: 10px;
      
    }
    

    .piechart-graph {
      padding: 10px 0;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
    }
    
    .piechart-graph.active {
      font-weight: bold;
    }
    
    /*Where the charts are*/
    .piegraph-content {
      display: flex;
      height: 90%;
      
      border: 1px solid #ccc;
      padding: 10px;
      margin-right: 30px;
      margin-left: 10px;
      flex: 1;
      
    }
    
    .right-menu {
      
      align-items: center;
      width: 18%;
      height: 20%;
      
      margin-bottom: 100px;
    
      
    }

    .right-menu select {
      margin-left: 10px;
      padding: 8px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      background-color: #f7f7f7;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
    }
    
    .right-menu select:hover, select:focus {
      background-color: #ddd;
    }
    
    
 
