<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecting Investments</title>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
</head>
<body onload="handler.open()">
    <script>
        var csrf_django_token = '{{ csrf_token }}';
        const handler = Plaid.create({
            token: "{{link_token}}",
            onSuccess: (public_token, metadata) => {
                fetch('http://localhost:8000/connect_investments/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrf_django_token,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        public_token: public_token,
                        accounts: metadata.accounts,
                        institution: metadata.institution,
                        link_session_id: metadata.link_session_id,
                    }),
                });
            },
            onLoad: () => {},
            onExit: (err, metadata) => {},
            onEvent: (eventName, metadata) => {},
            //required for OAuth; if not using OAuth, set to null or omit:
            receivedRedirectUri: null,
        });
    </script>
</body>
</html>