<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<pre id="display">
{{ json_data|safe }}
</pre>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js">
</script>
<script>
    // var json_data = document.getElementById("display").innerHTML;
    // let balances = [];
    // let crowding = [];
    // for(var key in json_data){
    //   balances.push(key.account_id)
    //   console.log(key)
    // }
    // console.log(balances)
    // window.onload = function() {

//  var chart = new CanvasJS.Chart("chartContainer", {
// 	animationEnabled: true,
// 	title: {
// 		text: "Bank details"
// 	},
// 	data: [{
// 		type: "pie",
// 		startAngle: 240,
// 		yValueFormatString: "##0.00\"%\"",
// 		indexLabel: "{label} {y}",
// 		dataPoints: [json_data
// 		]
// 	}]
// });
// chart.render();
//
// }
</script>
</html>
