@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    margin: 0;
    color: black;
    background-image:url(images/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .nav {
    color: white;
    display: flex;
    margin-top: 29px;
    margin-left: 189px;
    margin-right: 189px;
    margin : 1% 10%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    border-style: solid;
    border-color: black;
    border-bottom-width: 3px;

}
.navbarContents {
    margin: 1% 10%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}




.site-title {
    font-size: 2rem;
    font-weight: bold;
}

.nav li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
.nav li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: white;
}

.nav a,
.nav .nav-logout {
  color: inherit;
  text-decoration: none;
}

.nav .nav-logout:hover {
  cursor: pointer;
}

.nav li > a::after,
.nav li > .nav-logout::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

.nav li > a:hover::after,
li > a.active-nav::after,
.nav li > .nav-logout:hover::after {
  width: 100%;
  background: white;
} */

/* .logout {
  width: 100%;
  background: white;
} */

.home_text_holder {
  overflow: hidden;
}

.home__content__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.85, 0.85);
  margin-top: -50px;
  
}

.home__box {
    position: relative;
    max-width: 100%;
    align-items: center;
    
  }

  .home__background__image {
    display: block;
    max-width: 100%;
    height: auto;
    
}

.crypto-wallet-addresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.add-button,
.remove-button,
.submit-button {
  margin: 10px;
  padding: 10px;
}

.add-button,
.remove-button {
  background-color: darkblue;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-button {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


.home__content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-30%, -50%);
  display: flex;
  align-items: start;
  width: 80%;
}

.home__first__content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-35%, -50%);
  display: flex;
  align-items: start;
  width: 80%;
}

.home__first__image {
  max-width: 100%;
  margin-right: 20px;
}

.home-text {
font-family: 'Outfit', sans-serif;
font-size: 2.6em;
max-width: 120%;


}

.home__second__content__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -160px;
  transform: scale(0.85, 0.85);
  
}



  /* .signup-container {
    max-width: 28rem;
    width: 100%;
    margin: auto;
    width: 50%;
  } */

  .super-signup-container {
    min-height: 100%;
    -ms-flex-align: center;
    justify-items: center;
    padding-left: 36px;
    padding-right: 4px;
    /*min-h-full  flex items-center justify-center py-36 px-4 sm:px-6 lg:px-8*/

  }

  .home__text {
    font-family: 'Outfit', sans-serif;
    font-size: 2.3em;
  }
  /*Container for the dashboard page*/
  /* .dashboard-container {
    width: 100%;
    
  } */

  .address-form {
    text-align: center;

  }
  
  .address-form-content {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .inline-wallet-address-container {
    margin-right: 50px;
    text-justify: distribute;
  }

  /*Container for the section of the contents of the page*/
  /* .piechart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    float: left;
    height: 80vh;
    
    } */
    
    /* Adjust the width of piechart-section to leave space for piechart-graphs and piegraph-content */
    /* .piechart-section {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%);
    height: 60%;
    
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    } */
    
    /*Styling the tabs that allow you to switch categories*/
    /* .piechart-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    
    } */
    
    /*Styling individual tab*/
    /* .piechart-tab {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    } */
    
    /*When the tab is selected*/
    /* .piechart-tab.active {
    background-color: darkblue;
    color: white;
    }
    

    .piechart-container {
      display: flex;
      height: 140%;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      
    } */
    
    /*Graph selection*/
    /* .piechart-graphs {
      display: flex;
      flex-direction: column;
      width: 100px;
      padding: 10px;
      margin-left: 10px;
      
    }
    

    .piechart-graph {
      padding: 10px 0;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
    }
    
    .piechart-graph.active {
      font-weight: bold;
    } */
    
    /*Where the charts are*/
    /* .piegraph-content {
      display: flex;
      height: 90%;
      
      border: 1px solid #ccc;
      padding: 10px;
      margin-right: 30px;
      margin-left: 10px;
      flex: 1;
      
    } */
    
    .right-menu {
      
      align-items: center;
      width: 18%;
      height: 20%;
      
      margin-bottom: 100px;
    
      
    }

    .right-menu select {
      margin-left: 10px;
      padding: 8px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      background-color: #f7f7f7;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
    }
    
    .right-menu select:hover, select:focus {
      background-color: #ddd;
    }
  
  .background__box {
      position: relative;
      max-width: 100%;
  }
  
  .background__image {
      display: block;
      max-width: 100%;
      height: auto;
  }
  /* .assetLink_holder {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .asset__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .debit__card__image {
      max-width: 100%;
      margin-right: 20px;
  }
  
  .debit-middle-text, .asset-middle-text, .crypto-middle-text {
    font-family: 'Outfit', sans-serif;
    font-size: 2.3em;
    font-weight: bold;
  }
  /*  */
  .link-button {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #ffffff;
    color: #000000;
}



/* .bank__image {
  max-width: 100%;
  margin-right: 20px;
}

.crypto__image {
  
  max-width: 50%;
  margin-right: 20px;
}  */

/* Investment Graphs Display */
/* .tab {
    float: left;
    width: 10%;
    height: 500px;
    height: 31.25rem;
} */
    
/* .tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
} */

/* .tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    font-weight: bold;
} */

/* .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc !important;
    width: 90%;
    border-left: none;
    height: 500px;
    height: 31.25rem;
} */

/* .investment-graphs {
    position: absolute;
    left: 5rem;
    right: 5rem;
} */

/* .investment-pie {
    margin: auto;
} */

.investment-return-positive {
    display: inline-block;
    margin-right: 1rem;
    color: lightgreen;
}

.investment-return-negative {
    display: inline-block;
    margin-right: 1rem;
    color: red;
}
 
.graph-select {
    color: #000000 !important;
    float: left;
    overflow: hidden;
    width: 10rem;
    margin-top: 10px;
    margin-top: 0.625rem;
}
 
.about-page {
  text-align: center;
}

.txt-about-us {
  font-family: 'Outfit', sans-serif;
  opacity: 0.75;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  margin-top: 2rem;
}

.txt-monitoring-finances {
  font-family: 'Outfit', sans-serif;
  font-size: 3rem; /* 48px */
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1rem;
}

.txt-link-assets {
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 300;
  margin-bottom: 1rem;
}

.about-container {
  display: flex;
  justify-content: center;
  
}

.about-box {
  margin: 0;
  padding: 0;
}

.about-box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  
}

.about-image-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-background-box {
  
  position: relative;
  
}

/* .balance-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */
